<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize"></strong>
      <ion-item>
        <ion-card>
          <img src="assets/img/Tommy.jpg" width="240" height="260"/>
          <ion-card-header>
            
            <ion-label style="font-size: 14px; font-weight: 500; color: black;">Tommy Grullón Contreras</ion-label>
            <ion-label style="font-size: 14px; font-weight: 500; color: black;">202010689@itla.edu.do</ion-label>
          </ion-card-header>
        
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-item>
  </div>
</ion-content>
